
function App({ State }) {

    State.init({
       appName: '%projectName%'
    });

}

export default {
    name: 'App',
    controller: App,
    templateUrl: 'app.template.html',
    styleUrl: 'app.scss'
};