function %componentName%({ State }) {

    State.init({

    });

}

export default {
    name: '%componentName%',
    controller: %componentName%,
    templateUrl: '%templateName%',
    styleUrl: '%styleName%'
};